body {
    font-family: impact, fantasy;
    background-image: url("../images/world.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
  }

  .jumbotron{
      background: rgba(14, 125, 216, 0.801);
      color: rgb(255, 238, 0);
  }

  h1{
      text-align: center;
      height: 50px;
      margin: 10px 10px 10px 10px;
  }

  p{
    text-align: center;
    font-family: impact, family; 
    padding-top: 15px;
  }
.radio-inline{
    font-size: 20px;
}

#startGame {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 238, 0);
}

#timeRemaining, h2{
    font-size: 55px;
    background: rgba(14, 125, 216, 0.801);
    color: rgb(255, 238, 0);
    margin-bottom: 30px;
}

#formQuiz, #quizResults{
    font-size: 30px;
    background: rgba(14, 125, 216, 0.801);
    color: rgb(255, 238, 0);
}

#submitQuiz, #startGame{
    background: rgba(14, 125, 216, 0.801);
    color: rgb(255, 238, 0);
    font-size: 25px;
    padding: 30px 100px 30px 100px;
    margin: 10px 0px 10px 0px;
}

.mark, mark {
    padding: .2em;
    background: rgba(14, 125, 216, 0.801);
    color: rgb(255, 238, 0);

}